body{
    margin: 0;
    font-family: fantasy;
    background-image: linear-gradient(to left, #051937, #153c66, #1e6498, #1d8fcb, #00bdff);;


}
code{
    font-family: 'Minecraft', sans-serif;
    font-weight: 200;
    color: aliceblue;
}
h1{
    font-family: fantasy;
    font-weight: 200;
    font-size: 80px;
    color: aliceblue;
    text-align: center;
    
}